<!DOCTYPE html>
<html>

<head>
  <title>WEBSITE</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Your Website Title" />
  <meta property="og:description" content="Your description" />
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Dancing+Script:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Pinyon+Script|Raleway:400,200,300,500,700,800,900' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="../css/website.css">
  <link rel="stylesheet" type="text/css" href="../css/websiteScreen.css">
</head>

<body>
  <div class="carousalOverlay">
  </div>
  <div class="widgetContainer hidden-xs">
    <div class="widgetNew first">
      <div class="facebookBtn">
        <div class="image">
          <img src="../images/facebook.png">
        </div>
        <div class="text hide">
          Facebook
        </div>
      </div>
    </div>
    <div class="widgetNew second">
      <a href="https://twitter.com/share" data - hashtags="MyNewWebsite">
        <div class="image">
          <img src="../images/twitter.png">
        </div>
        <div class="text hide">
          Twitter
        </div>
      </a>
    </div>
  </div>
  <div class="mainContainer">
    <div id='fb-root'></div>
    <div class="loaderContainer"><img src="../images/loadGear.svg" class="loader" /></div>
    <div class="welcomePage">
      <div class="navbarBlock col-sm-12">
        <div class="container">
          <div class="col-sm-6 option restaurantNameBlock">
            <div class="restaurantName">
            </div>
          </div>
          <div class="col-sm-1 option" data-link=".locationSection">
            Contact
          </div>
          <div class="col-sm-1 option" data-link=".reservationPage">
            Reservation
          </div>
          <div class="col-sm-1 option" data-link=".eventPage">
            Events
          </div>
          <div class="col-sm-1 option" data-link=".galleryPage">
            Gallery
          </div>
          <div class="col-sm-1 option" data-link=".aboutPage">
            About Us
          </div>
          <div class="col-sm-offset-1 col-sm-1 option" data-link=".welcomePage">
            Home
          </div>
        </div>
      </div>
      <div class="centerTextBlock">
        <div class="heading">
          Discover
        </div>
        <div class="headingName">
        </div>
      </div>
    </div>
    <div class="storyPage">
      <div class="container">
        <div class="storyHeading">
          EAT WELL. BE KIND
        </div>
        <div class="storyDescription">
          At Rosewater we’re passionate about sourcing and serving the best food products possible - from fresh baked goods & prepared foods made in house to specialty products from the island and beyond.
        </div>
      </div>
    </div>
    <div class="paralexPageOne">
    </div>
    <div class="aboutPage">
      <div class="container">
        <div class="aboutHeading">
          ABOUT US
        </div>
        <div class="aboutDescription">

        </div>
        <div class="btnReadMore">read more</div>
      </div>
    </div>
    <div class="paralexPageTwo">
    </div>
    <div class="galleryPage">
      <div class="container">
        <div class="galleryHeading">
          Gallery
        </div>
        <div class="galleryContainer col-sm-12">
          <div class="imageContainer">

          </div>
        </div>
      </div>
    </div>
    <div class="paralexPageThree">
      <div class="paralexOverlay">
        <div class="btnViewMore">
          VIEW ALL
        </div>
        <div class="paralexHeading">
          Find Out
          <br/>
          <span class="subHeading">WHAT PEOPLE SAY</span>
        </div>
        <div class="reviewDisplayTypeContainer">
          <div class="carousalContainer typeOne">

          </div>
          <div class="reviewDisplayBlock">
            <div class="typeTwo">
              <div class="typeTwoReviewBlock">
                <div class="upperBlock">
                  Finally went here last week for the first time. I *love* indian food. It's the best. I got just the beans and rice bowl, and it was flavored so well. It was a tiny bit spicy, which was great. I *love* indian food. It's the best. I got just the beans and
                  rice bowl, and it was flavored so well. It was a tiny bit spicy, which was great The person running
                </div>
                <div class="lowerBlock">
                  <img src="../images/clientOne.jpg" class="typeTwoMemberImage">
                  <div class="typeTwoMemberName">
                    Alisha
                  </div>
                </div>
              </div>
              <div class="typeTwoReviewBlock">
                <div class="upperBlock">
                  Finally went here last week for the first time. I *love* indian food. It's the best. I got just the beans and rice bowl, and it was flavored so well. It was a tiny bit spicy, which was great. The person running
                </div>
                <div class="lowerBlock">
                  <img src="../images/clientOne.jpg" class="typeTwoMemberImage">
                  <div class="typeTwoMemberName">
                    Alisha
                  </div>
                </div>
              </div>
              <div class="typeTwoReviewBlock">
                <div class="upperBlock">
                  Finally went here last week for the first time. I *love* indian food. It's the best. I got just the beans and rice bowl, and it was flavored so well. It was a tiny bit spicy, which was great.I *love* indian food. It's the best. I got just the beans and
                  rice bowl, and it was flavored so well. It was a tiny bit spicy, which was great The person running
                </div>
                <div class="lowerBlock">
                  <img src="../images/clientOne.jpg" class="typeTwoMemberImage">
                  <div class="typeTwoMemberName">
                    Alisha
                  </div>
                </div>
              </div>
              <div class="typeTwoReviewBlock">
                <div class="upperBlock">
                  Finally went here last week for the first time. I *love* indian food. It's the best. I got just the beans and rice bowl, and it was flavored so well. It was a tiny bit spicy, which was great. The person running
                </div>
                <div class="lowerBlock">
                  <img src="../images/clientOne.jpg" class="typeTwoMemberImage">
                  <div class="typeTwoMemberName">
                    Alisha
                  </div>
                </div>
              </div>
            </div>

            <div class="typeThree">
              <div class="typeThreeReviewBlock">
                <div class="leftBlock">
                  <img src="../images/clientOne.jpg" class="typeThreeMemberImage">
                </div>
                <div class="rightBlock">
                  <img src="../images/quotes.png" class="quotesIcon">
                  <div class="typeThreeMemberReview">
                    Finally went here last week for the first time. I *love* indian food. It's the best. I got just the beans and rice bowl, and it was flavored so well. It was a tiny bit spicy, which was great. The person running
                  </div>
                  <div class="typeThreeMemberName">
                    Alisha
                  </div>
                </div>
              </div>
              <div class="typeThreeReviewBlock">
                <div class="leftBlock">
                  <img src="../images/clientOne.jpg" class="typeThreeMemberImage">
                </div>
                <div class="rightBlock">
                  <img src="../images/quotes.png" class="quotesIcon">
                  <div class="typeThreeMemberReview">
                    Finally went here last week for the first time. I *love* indian food. It's the best. I got just the beans and rice bowl, and it was flavored so well. It was a tiny bit spicy, which was great. The person running
                  </div>
                  <div class="typeThreeMemberName">
                    Alisha
                  </div>
                </div>
              </div>
              <div class="typeThreeReviewBlock">
                <div class="leftBlock">
                  <img src="../images/clientOne.jpg" class="typeThreeMemberImage">
                </div>
                <div class="rightBlock">
                  <img src="../images/quotes.png" class="quotesIcon">
                  <div class="typeThreeMemberReview">
                    Finally went here last week for the first time. I *love* indian food. It's the best. I got just the beans and rice bowl, and it was flavored so well. It was a tiny bit spicy, which was great. The person running
                  </div>
                  <div class="typeThreeMemberName">
                    Alisha
                  </div>
                </div>
              </div>
              <div class="typeThreeReviewBlock">
                <div class="leftBlock">
                  <img src="../images/clientOne.jpg" class="typeThreeMemberImage">
                </div>
                <div class="rightBlock">
                  <img src="../images/quotes.png" class="quotesIcon">
                  <div class="typeThreeMemberReview">
                    Finally went here last week for the first time. I *love* indian food. It's the best. I got just the beans and rice bowl, and it was flavored so well. It was a tiny bit spicy, which was great. The person running
                  </div>
                  <div class="typeThreeMemberName">
                    Alisha
                  </div>
                </div>
              </div>


            </div>

          </div>
        </div>
        <div class="reviewContainer">
          <div class="reviewHeading">
            WHAT PEOPLE SAY
          </div>
          <div class="reviewContainerBlock">

          </div>
        </div>
      </div>
    </div>
    <div class="eventPage">

    </div>
    <div class="reservationPage">
      <div class="reservationImageSection">
        <div class="reservationOverlay">
          <div class="container">
            <div class="contentBlock col-sm-7">
              <div class="greeting">
                Welcome to Rose Water!
              </div>
              <div class="greetingDescription">
                WE ARE EXCITED <span class="lightText">TO COOK FOR</span> YOU <span class="lightText">TODAY</span>!
              </div>
              <div class="quoteText">
                SPICES FROM ALL OVER THE WORLD SELECTED JUST FOR YOU.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider">
      </div>
      <div class="reservationUpperBlock">
        <div class="greetingPage">
          <img src="../images/cross.png" class="crossIcon">
          <div class="greeting">Thanks
            <br /> We will get back to you shortly.</div>
        </div>
        <div class="reservationInnerBlock">
          <div class="calendarImageBlock">
            <img src="../images/calendar.png" class="calendarLogo">
          </div>
          <div class="bookHeading">
            BOOK A TABLE
          </div>
          <div class="bookDescription">
            great food needs perfect ingredients
          </div>
          <div class="diamondImageBlock">
            <img src="../images/diamond.png" class="diamondLogo">
          </div>
          <div class="formGroup">
            <div class="formHeading">Email:</div>
            <input class="formControl" type="email" placeholder="Your Email Address">
          </div>
          <div class="formGroup formDateGroup">
            <div class="formHeading formDateHeading">Date:</div>
            <input placeholder="Date" class="textbox-n" type="text" onfocus="(this.type='date')"  id="selectDate">
          </div>
          <div class="formGroup formDateGroup" style="margin-left: 6%;">
            <div class="formHeading formDateHeading">Time:</div>
            <input placeholder="Time" class="textbox-n" type="text" onfocus="(this.type='time')"  id="selectDate">
          </div>
          <div class="formGroup">
            <div class="formHeading">Your Preferences:</div>
            <input class="formControl" type="text" placeholder="How can we help you?">
          </div>
          <div class="formGroup">
            <div class="formHeading">Guest:</div>
            <div class="guestBlock">
              <div class="personBarContainer">
                <div class="personBlock">
                  1
                </div>
                <div class="personBlock selectedPerson">
                  2
                </div>
                <div class="personBlock">
                  3
                </div>
                <div class="personBlock">
                  4+
                </div>
              </div>
            </div>
          </div>
          <div class="btnBooking">
            MAKE YOUR BOOKING
          </div>
        </div>
      </div>
      <div class="locationSection">
        <div class="container">
          <div class="col-sm-4 locationContentBlock addressBlock">

          </div>
          <div class="col-sm-4 locationContentBlock contactBlock">

          </div>

        </div>
      </div>
    </div>
    <div class="dividerMap">
    </div>
    <div class="mapPage">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.4504017372415!2d77.31048431508157!3d28.586261982436028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce45f7ea20819%3A0xad1c6b40438f7d41!2sA-35%2C+A+Block%2C+Sector+2%2C+Noida%2C+Uttar+Pradesh+201301%2C+India!5e0!3m2!1sen!2sca!4v1460720608189"
        width="100%" height="100%" allowfullscreen style="pointer-events: none;"></iframe>
    </div>

    <div class="footerEnd">
      <div class="leftPart">
        <div class="logoBlock">
          <img src="../images/realbox.png" class=realboxLogo>
        </div>
        <div class="footerText">
          Make this website yours
        </div>
      </div>
      <div class="rightPart">
        <div class="btnClaim">
          claim your site
        </div>
      </div>
    </div>
    <div class="signUpContainer">
      <img src="../images/cross.png" class="crossIcon">
      <div class="header">
        Sweet! Let's get you started.
      </div>
      <div class="signUpFormHeader">
        <div class="formName">
          sign up
        </div>
      </div>
      <div class="entryBlock">
        <input class="entryPlaceholder name" placeholder="enter your name">
        <input class="entryPlaceholder name" placeholder="enter your email">
        <input class="entryPlaceholder name" placeholder="enter your password">
      </div>
      <div class="btnSignUp">
        SIGN UP
      </div>
    </div>

  </div>

  <script id="restaurantNameTemplate" type="text/x-jquery-tmpl">
    <div>
      {{html name}}
    </div>
  </script>


  <script id="imageTemplate" type="text/x-jquery-tmpl">
    {{if (count
    <8)}} <div class="col-sm-4 col-xs-12 overlay">
      <div class="block" style="background-image: url('{{html images[3].source}}')">
      </div>
      </div>
      {{else}}
      <div class="col-sm-4 col-xs-12 overlay">
        <div class="lastblock">
          <div class="cameraBlock">
            <img src="../images/camera.png" class="cameraIcon">
            <div class="cameraText">
              25 Photos
            </div>
          </div>
        </div>
      </div>
      {{/if}}
  </script>
  <script id="contactTemplate" type="text/x-jquery-tmpl">
    <div class="locationHeading">
      Contact
    </div>
    <div class="locationNumber locationText">
      <a href="tel:{{html phone}}">{{html phone}}</a>
    </div>
  </script>
  <script id="addressTemplate" type="text/x-jquery-tmpl">
    <div class="locationHeading">
      Location
    </div>
    <div class="locationAddress locationText">
      {{if (street!='')}} {{html street}}
      <br /> {{/if}} {{if (address!='')}}
      <span class="splitAddress">{{html address}}
      {{/if}}
      </div>
      <div class="btnSendDirection">
        SEND DIRECTION
      </div>
      </script>
      <script id="mapTemplate" type="text/x-jquery-tmpl">
      <iframe src="{{html src}}" width="100%" height="100%" allowfullscreen style="pointer-events: none;"></iframe>
      </script>
      <script id="reviewTemplate" type="text/x-jquery-tmpl">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
        {{each(index, value) user_reviews}}
        {{if (first)}}
          <div class="item active">
            <div class="overlay">
              <div class="block">
                <img src="{{html image}}" class="memberImage">
                <div class="memberName">{{html user}}</div>
                <div class="memberReview">{{html review_text}}</div>
              </div>
            </div>
          </div>
          {{else}}
          <div class="item">
            <div class="overlay">
              <div class="block">
                <img src="{{html image}}" class="memberImage">
                <div class="memberName">{{html user}}</div>
                <div class="memberReview">{{html review_text}}</div>
              </div>
            </div>
          </div>
          {{/if}}
          {{/each}}
        </div>
      </div>
      </script>

      <script id="eventTemplate" type="text/x-jquery-tmpl">
      <div class="container">
      <div class="eventHeading">
        Events
      </div>
      <div class="eventContainer col-sm-12">
      {{each(index,value) data}}
        <div class="col-sm-4 eventUpperBlock">
          <div class="eventInnerBlock">
            <div class="eventImage" style="background-image: url('{{html image}}')">
            </div>
            <div class="eventDetails">
              <div class="eventName">
                {{html name}}
              </div>
              <div class="eventDate">
                {{html eventDate}}
              </div>
              <div class="eventTimeBlock">
                {{html start_time}}
              </div>
              <div class="eventLocation">
                {{html address}}
              </div>
            </div>
              <div class="btnBookEvent">
                  BOOK NOW
            </div>
          </div>
        </div>
        {{/each}}
        <div class="confirmationContainer">
        <div class="backEventImage">
          <div class="eventShortDesctiption">
            <div class="eventName">
            SUPER SUNDAY BRUNCH AT TAMASHA!
            </div>
            <div class="eventDate">
              1 May 2016
            </div>
          </div>
        </div>
        <div class="eventDetailConatiner">
              <div class="detailContainer">
                <input class="placeholder name" placeholder="enter your name">
                <input class="placeholder number" placeholder="enter your contact number" type="number" maxlength="10">
              </div>
              <div class="selectPersonContainer">
                <div class="text">
                  Select number of person
                </div>
                <div class="personBarContainer">
                  <div class="numberBlock">
                    1
                  </div>
                  <div class="numberBlock">
                    2
                  </div>
                  <div class="numberBlock">
                    3
                  </div>
                  <div class="numberBlock">
                    4+
                  </div>
                </div>
              </div>
          </div>
          <div class="btnConfirm">
            I AM IN
          </div>
          <div class="target"></div>
          <div class="thankYouContainer">
            <div class="thankYou">
              Thank You <span class="name"></span>,
      <br>
      <span class="subDescription"> We will get back to you shortly.</span>
    </div>
    </div>
    </div>
    </div>
    </div>
  </script>
  <script id='allReviews' type="text/x-jquery-tmpl">
    <div class="reviewBlock">
      <div class="leftPanel">
        <div class="memberBlock">
          <img src="{{html image}}" class="reviewMemberImage">
          <div class="reviewMemberName">{{html user}}</div>
        </div>
      </div>
      <div class="rightPanel">
        {{html review_text}}
      </div>
    </div>
  </script>

  <script src="../scripts/jquery.js"></script>
  <script src="../scripts/transit.js"></script>
  <script src="../scripts/bootstrap.min.js"></script>
  <script src="../scripts/highcharts.js"></script>
  <script src="../scripts/jquery.tmpl.min.js"></script>
  <script src="../scripts/jslinq.js"></script>
  <script src="../scripts/moment.min.js"></script>
  <script src="../scripts/superjson.js"></script>
  <script src="../scripts/tocca.min.js"></script>
  <script src="../js/data.js"></script>
  <script src="../js/base.js"></script>
  <script src="../js/restaurant.js"></script>
  <script src="../js/website.js"></script>
</body>

</html>
